<p dir="ltr" id="docs-internal-guid-208f4a64-d1d9-8e40-5372-3eaf54136f7d">
    MEMOME
</p>
<p dir="ltr">
    Effective Date: March 15, 2018.
</p>
<br/>
<p dir="ltr">
    Welcome to MEMOME!
</p>
<p dir="ltr">
    MEMOME always ready to help you to keep your memories both in hands and in
    heart. MEMOME service is available to the user, for his own needs. It is an
    application that allows the user to print and send. MEMOME allows to print
    and customized photography goods. To have access to such a service requires
    an Internet connection. Products offer to the User are described with the
    most details we can give about. Nevertheless, if a User has a question, he
    is invited to contact MEMOME. To the extent the User has correctly filled
    in all the required fields to complete its Product, MEMOME prints and sends
    to the recipient.
</p>
<ul>
    <li dir="ltr">
        <p dir="ltr">
            Our Privacy Policy explains how we collect, use, prints and protect
            information in relation to our mobile services, web site, and any
            software provided on or in connection with MEMOME services
            (collectively, the "Service"), and your choices about the
            collection and use of your information.
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            By using our Service you understand and agree that we are providing
            a platform for you to uploading information, including photos, and
            other materials ("User Content"), consistent with the terms and
            conditions of this Privacy Policy and our Terms of Use (which can
            be found at            <a href="http://memome.co.id/terms">http://memome.co.id/terms</a>).
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            Our Policy applies to all visitors, users, and others who access
            the Service ("Users").
        </p>
    </li>
</ul>
<ol>
    <li dir="ltr">
        <p dir="ltr">
            INFORMATION WE COLLECT
        </p>
    </li>
</ol>
<ul>
    <li dir="ltr">
        <p dir="ltr">
            Your username, password and e-mail address when you register for an
            MEMOME account.
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            Profile information that you provide for your user profile (e.g.,
            first and last name, picture, phone number).
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            User Content (e.g., photos and other materials) that you post to
            the Service.
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            Communications between you and MEMOME. For example, we may send you
            Service-related emails (e.g., account verification, changes/updates
            to features of the Service, technical and security notices). Note
            that you may not opt out of Service-related e-mails.
        </p>
    </li>
</ul>
<ol start="2">
    <li dir="ltr">
        <p dir="ltr">
            HOW WE USE YOUR INFORMATION
        </p>
    </li>
</ol>
<p dir="ltr">
    In addition to some of the specific uses of information we describe in this
    Privacy Policy, we . my use information that we receive to:
</p>
<ul>
    <li dir="ltr">
        <p dir="ltr">
            help you efficiently access your information after you sign in
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            remember information so you will not have to re-enter it during
            your visit or the next time you visit the Service;
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            provide personalized content and information to you
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            provide, improve, test, and monitor the effectiveness of our
            Service
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            develop and test new products and features
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            monitor metrics such as total number of visitors, traffic, and
            demographic patterns
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            diagnose or fix technology problems
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            automatically update the MEMOME application on your device MEMOME
            or special offers or other events on the Service.
        </p>
    </li>
</ul>
<ol start="3">
    <li dir="ltr">
        <p dir="ltr">
            YOUR CHOICES ABOUT YOUR INFORMATION
        </p>
    </li>
</ol>
<p dir="ltr">
    Your account information and profile/privacy settings:
</p>
<ul>
    <li dir="ltr">
        <p dir="ltr">
            Update your account at any time by logging in and changing your
            profile settings.
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            Unsubscribe from email communications from us by clicking on the
            "unsubscribe link" provided in such communications. As noted above,
            you may not opt out of Service-related communications (e.g.,
            account verification, purchase and billing confirmations and
            reminders, changes/updates to features of the Service, technical
            and security notices).
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            <a href="http://help.instagram.com/284802804971822/">Learn more</a>
            about reviewing or modifying your account information.
        </p>
    </li>
</ul>
<p dir="ltr">
    How long we keep your User Content:
</p>
<ul>
    <li dir="ltr">
        <p dir="ltr">
            Following termination or deactivation of your account, MEMOME may
            retain information (including your profile information) and User
            Content for a commercially reasonable time for backup, archival,
            and/or audit purposes.
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            <a href="http://help.instagram.com/448136995230186/">Learn more</a>
            about deleting your account.
        </p>
    </li>
</ul>
<ol start="4">
    <li dir="ltr">
        <p dir="ltr">
            CHILDREN'S PRIVACY
        </p>
    </li>
</ol>
<p dir="ltr">
    . MEMOME does not knowingly collect or solicit any information from anyone
    under the age of 13 or knowingly allow such persons to register for the
    Service. The Service and its content are not directed at children under the
    age of 13. In the event that we learn that we have collected personal
    information from a child under age 13 without parental consent, we will
    delete that information as quickly as possible. If you believe that we
    might have any information from or about a child under 13, please    <a href="http://help.instagram.com/290666591035380/">contact us</a>.
</p>
<ol start="5">
    <li dir="ltr">
        <p dir="ltr">
            PRICE AND PAYMENT
        </p>
    </li>
</ol>
<p dir="ltr">
      Price
</p>
<ul>
    <li dir="ltr">
        <p dir="ltr">
            Using the Website is free of charge (excluding the cost of
            connection to the network operator). Orders Packs are for their
            pay.
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            The User may also choose to purchase one or several Products.
            Prices are valid only on the date of ordering. The prices charged
            are those shown on the Application at the time of registration of
            the order and are expressed in euros, all taxes included. They may
            be modified at any time.
        </p>
    </li>
</ul>
<p dir="ltr">
      Payment for Products
</p>

<ul>
    <li dir="ltr">
        <p dir="ltr">
            If the user opts for buying or one or more batches of several units called
            "Pack" pricing applicable to each of these packs is submitted via the
            Website. The User selects the product of his choice. MEMOME may at any time
            revise the price or availability of its product, new rates are effective
            immediately for all new acquisition Product by the User. Payment is made by
            credit card (BNI, BCA, MANDIRI, Visa, Mastercard, GiroPay et Paypal). The
            MEMOME application is compatible with Apple Pay (more information available
            at Apple Pay security and privacy overview). The amount of the order is
            debited at the time of validation of the order. The processing of the
            command is started (with the exception of periods of weekend and holidays).
            If payment is not accepted or completed, the procurement procedure is
            canceled and the preselected elements are deleted. Upon payment of the
            orders of the User by credit card, the transmission of his bank payment
            service Midtrans that handles banking transactions is a secure (SSL). The
            bank details of the user must be entered for each order. They are used only
            for the payment transaction.
        </p>
    </li>
</ul>

<ol start="6">
    <li dir="ltr">
        <p dir="ltr">
            DELIVERY AND DISTRIBUTION OF MEMOME PRODUCTS
        </p>
    </li>
</ol>
<ul>
    <li dir="ltr">
        <p dir="ltr">
            Once transmitted to MEMOME then printed, the Product is distributed
            as any postal letter of the destination province in Indonesia. A
            following option is available on several products.
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            The paid services will be delivered to the recipient's address
            specified in the command by the user. MEMOME service offers
            delivery in more than thirty-four (34) Province in Indonesia. If
            you want to know if we deliver in your province, thanks to directly
            get in touch with us by email.
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            The deadline to receive a Product vary accordingly to the Product.
            For more information, we invited you to refer to the FAQ. Time
            mentioned is an average time, depending on the destination and mode
            of shipment. Exceeding this time can not give rise to any
            cancellation of the order, any reduction in the price paid by the
            user, and no payment of damages. However, this period is given as
            an indication and MEMOME can not be held responsible in case of
            overflow.
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            MEMOME reserves the right to refuse to make a delivery or to honor
            an order from a user who has not fully paid or a previous order or
            with whom a payment dispute is being administered.
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            Shipment is made by JnT, JNE and PT. Pos Indonesia.
        </p>
    </li>
</ul>
<br/>
<ol start="7">
    <li dir="ltr">
        <p dir="ltr">
            OTHER WEB SITES AND SERVICES
        </p>
    </li>
</ol>
<ul>
    <li dir="ltr">
        <p dir="ltr">
            We are not responsible for the practices employed by any websites or
            services linked to or from our Service, including the information or
            content contained within them. Please remember that when you use a link to
            go from our Service to another website or service, our Privacy Policy does
            not apply to those third-party websites or services. Your browsing and
            interaction on any third-party website or service, including those that
            have a link on our website, are subject to that third party's own rules and
            policies. In addition, you agree that we are not responsible and do not
            have control over any third-parties that you authorize to access your User
            Content. If you are using a third-party website or service and you allow
            them to access your User Content you do so at your own risk.
        </p>
    </li>
</ul>
<br/>
<ol start="8">
    <li dir="ltr">
        <p dir="ltr">
            CHANGES TO OUR PRIVACY POLICY
        </p>
    </li>
</ol>
<ul>
    <li dir="ltr">
        <p dir="ltr">
            MEMOME may modify or update this Privacy Policy from time to time, so
            please review it periodically. We may provide you additional forms of
            notice of modifications or updates as appropriate under the circumstances.
            Your continued use of MEMOME or the Service after any modification to this
            Privacy Policy will constitute your acceptance of such modification.
        </p>
    </li>
</ul>
